{% extends "base/page.html" %}
{% load staticfiles %}
{% block content %}

<div class="container" style='padding-top:200px'>
  <div class="row" style='margin-bottom:20px'>
    <div class="col-md-12">
      <h1>About {{ NODE_NAME }}</h1>
      <p>For more information about {{ NODE_NAME }}, see the <a href="https://www.github.com/vsoch/askci/#" target="_blank">{{ NODE_NAME }} homepage</a></p>
    </div>
  </div>
   <div class="row">
    <div class="col-md-6">
    <div style="border: 1px solid rgba(0,0,0,.125)">
       <div class="card-body">
           <h5 class="card-title">Software</h5>
           <p class="card-text">
             <p>If you have an issue with the AskCI Server software, <a href="https://github.com/vsoch/askci/issues" target="_blank">tell us here</a></p>
       </div>
    </div>
 </div>    
<div class="col-md-6">
    <div style="border: 1px solid rgba(0,0,0,.125)">
       <div class="card-body">
           <h5 class="card-title">Local Contact</h5>
           <p class="card-text">{% if HELP_CONTACT_EMAIL %}
             <p>If you need help, you can <a href="{% url 'contact' %}">contact us here</a>
              {% if HELP_INSTITUTION_SITE %}, or visit <a href="{{ HELP_INSTITUTION_SITE }}">here</p>{% else %}.{% endif %}{% endif %}
           </p>
       </div>
    </div>
</div>
{% endblock %}
