{% extends "base/page.html" %}
{% load staticfiles %}
{% block content %}

<style type="text/css">
 .loading {
   background-color: #515ce6;
 }
</style>

<div class="container" style='padding-top:100px'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
  {% include "messages/message.html" %}

  <div class="row" style="padding-bottom:50px">
    <div class="col-md-12">
      <a href="{% url 'new_article' %}"><button class="btn btn-indigo">New Article</button></a>
      <a href="{% url 'new_question' %}"><button class="btn btn-indigo">New Question</button></a>
      <a href="{% url 'all_articles' %}"><button class="btn btn-indigo">Browse</button></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="alert alert-info">Hi there! You've stumbled on the AskCI Development Server! The robots are still working on various components, and you can expect not everything to work. For ideas, feedback, or anything else, please <a href="https://www.github.com/vsoch/askci/issues" target="_blank">let us know.</a></p>    
    </div>
  </div>

  {% if not articles and not questions %}<div class="row">
    <div class="col-md-12">
      <p class="alert alert-info">There aren't any articles. How about <a href="{% url 'new_article' %}">creating</a> a new one or <a href="{% url 'import_article' %}">importing</a> an existing one?</p>    
    </div>
  </div>{% endif %}

  <div class="infinite-container">
      {% if questions %}{% for question in questions %}
      <div class="row infinite-item">
         <div class="col-md-12">
          <div class="card" style="margin-bottom: 5px">
              <div class="card-body">
                 <strong><a href="{{ question.article.get_absolute_url }}">{{ question.article.name }}</a></strong>  <span style="margin-left:30px; font-style:italic; color:darkviolet">{{ question.pretty }}<span><a style="float:right" href="{{ question.article.get_absolute_url }}#{{ question.text }}">Read more...</a>
              </div>
           </div>
          </div>
      </div>{% endfor %}{% else %}
     {% for article in articles %}
      <div class="row infinite-item">
         <div class="col-md-12">
          <div class="card" style="margin-bottom: 5px">
              <div class="card-body">
                 <strong><a href="{{ article.get_absolute_url }}">{{ article.name }}</a></strong> {{ question.article.summary | truncatechars:100 }} {% if article.summary|length > 100 %}...{% endif %}<a style="float:right" href="{{ article.get_absolute_url }}">Read more...</a>
              </div>
           </div>
          </div>
      </div>{% endfor %}
     {% endif %}
  </div>

  {% if questions %}{% if questions.has_next %}
    <a class="infinite-more-link" href="?page={{ questions.next_page_number }}">More</a>
  {% endif %}{% else %}{% if articles.has_next %}
    <a class="infinite-more-link" href="?page={{ articles.next_page_number }}">More</a>
  {% endif %}{% endif %}
  <div class="loading" style="display: none;">
    Loading...
  </div>

</div>
{% endblock %}
{% block pagescripts %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script>
$(document).ready(function() {
 var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
  });
});
</script>
{% endblock %}
