{% extends "base/page.html" %}
{% load staticfiles %}
{% block content %}

<div class="container" style='padding-top:100px'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
  {% include "messages/message.html" %}

  <div class="row" style="padding-bottom:50px">
    <div class="col-md-12">
      <a href="{% url 'new_article' %}"><button class="btn btn-primary">New Article</button></a>
      <a href="{% url 'all_articles' %}"><button class="btn btn-primary">Browse</button></a>
    </div>
  </div>

  {% for article in articles %}
  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="card-body">
                 <strong>{{ article.name }}</strong> {{ article.summary | truncatechars:200 }} {% if article.summary|length > 200 %}...{% endif %}<a style="float:right" href="{{ article.get_absolute_url }}">Read more...</a>
          </div>
       </div>
      </div>
  </div>{% endfor %}
</div>
{% endblock %}
{% block pagescripts %}
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>
$(document).ready(function() {
});
</script>
{% endblock %}
