{% extends "base/page.html" %}
{% load staticfiles %}
{% block content %}

<style type="text/css">
 .loading {
   background-color: #515ce6;
 }
</style>

<div class="container" style='padding-top:100px'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
  {% include "messages/message.html" %}

  <div class="row" style="padding-bottom:50px">
    <div class="col-md-12">
      <a href="{% url 'new_article' %}"><button class="btn btn-primary">New Article</button></a>
      <a href="{% url 'import_article' %}"><button class="btn btn-primary">Import Article</button></a>
    </div>
  </div>

  <div class="infinite-container">
      {% if not articles %}
      <div class="row">
        <div class="col-md-12">
          <p class="alert alert-info">There aren't any articles. How about <a href="{% url 'new_article' %}">creating</a> a new one or <a href="{% url 'import_article' %}">importing</a> an existing one?</p>    
        </div>
      </div>
      {% endif %}
      {% for article in articles %}
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="margin-bottom: 5px">
              <div class="card-body">
                 <a href="{{ article.get_absolute_url }}"><strong>{{ article.name }}</strong></a> {{ article.summary | truncatechars:200 }} {% if article.summary|length > 200 %}...{% endif %}<a style="float:right" href="{{ article.get_absolute_url }}">Read more...</a>
              </div>
           </div>
          </div>
      </div>{% endfor %}
  </div>

  {% if articles.has_next %}
    <a class="infinite-more-link" href="?page={{ questions.next_page_number }}">More</a>
  {% endif %}

  <div class="loading" style="display: none;">
    Loading...
  </div>

</div>
{% endblock %}
{% block pagescripts %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script>
$(document).ready(function() {
 var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
  });
});
</script>
{% endblock %}
