{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>I can't find that... 404</title>
    <style>
    #robot {
        position: absolute;
        top:25%;
        left:25%;
        text-align: center;
        font-family: Dosis, sans-serif;
    }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div id="robot">
        <h1 style="color:#999">I can't find that... oh well!</h1>
        <img width="300px" src="{% static "img/sprout-dancing.gif"%}">
    </div>
  </body>
</html>
