{% extends "base/page.html" %}
{% load staticfiles %}
{% block content %}

<style type="text/css">
 .loading {
   background-color: #515ce6;
 }
</style>

<div class="container" style='padding-top:100px'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
  {% include "messages/message.html" %}
  <div class="infinite-container">
      {% if not tags %}
      <div class="row">
        <div class="col-md-12">
          <p class="alert alert-info">There aren't any tags! How about <a href="{% url 'new_article' %}">creating</a> or <a href="{% url 'import_article' %}">importing</a> an  a  article from a repository with topics to add some?</p>    
        </div>
      </div>
      {% endif %}
      {% for tag in tags %}
      <div class="row">
        <div class="col-md-1">
          <div class="card" style="margin-bottom: 5px">
              <div class="card-body">
                 <a href="{{ tag.get_absolute_url }}"><strong>{{ tag.tag }}</strong></a>
              </div>
           </div>
          </div>
      </div>{% endfor %}
  </div>

  {% if tags.has_next %}
    <a class="infinite-more-link" href="?page={{ tags.next_page_number }}">More</a>
  {% endif %}

  <div class="loading" style="display: none;">
    Loading...
  </div>

</div>
{% endblock %}
{% block pagescripts %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script>
$(document).ready(function() {
 var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
  });
});
</script>
{% endblock %}
