{% extends "base/page.html" %}
{% load staticfiles %}
{% block content %}

<style type="text/css">
 .loading {
   background-color: #515ce6;
 }
</style>

<div class="container" style='padding-top:100px'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
  {% include "messages/message.html" %}

  <div class="infinite-container">
      <div class="row">
        <div class="col-md-12">
          {% if not prs %}
          <p class="alert alert-info">There aren't any open reviews. How about looking at <a href="{% url 'all_articles' %}">articles</a> and suggesting changes?</p>    
         {% else %}<p class="alert alert-info">You can contribute to AskCI simply as a review! Click on any open pull request to help review changes to an article.</p>{% endif %}
        </div>
      </div>
      {% for pr in prs %}{% if pr.url %}<div class="row">
      <div class="col-md-12">
          <a href="{{ pr.url }}" target="_blank"><strong><span style="margin-right:30px" class="badge badge-{% if pr.status == 'pending' %}primary{% elif pr.status == 'closed' %}danger{% elif pr.status == 'reject' %}danger{% else %}success{% endif %}">{{ pr.status }}</span></strong></a> submit by {{ pr.owner.username }} on {{ pr.created }}<hr>
          </div>
      </div>{% endif %}{% endfor %}
  </div>

  {% if prs.has_next %}
    <a class="infinite-more-link" href="?page={{ prs.next_page_number }}">More</a>
  {% endif %}

  <div class="loading" style="display: none;">
    Loading...
  </div>

</div>
{% endblock %}
{% block pagescripts %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script>
$(document).ready(function() {
 var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
  });
});
</script>
{% endblock %}
